canvas {
  top: 0;
  left: 0;
}

body
{
  margin: 0;
  padding: 0;
  /* need this o/w horiz scrollbar, caused by navbar somehow */
  width: 90%;
  
  /* make it look decent enough */
  background: black;
  /* color: #cdcdcd; */
  color: #cdcdcd;
  /* not bad */
  /* font-family: "MingLiU_HKSCS-ExtB", sans-serif;  */
  font-family: "Space Mono", sans-serif; 
}

#navbar {
  text-align: center;
  vertical-align: center;
  background: rgba(50, 50, 50, 0);
  width: 100%;
  /* height: 50px; */
  padding: 2% 0 2% 0;
}

#navbar a {
  padding: 0 7% 0 7%;
  text-decoration: none;
  color: white
}

.overlay {
  position: absolute;
}